@model Author
@{
    ViewData["Title"] = "About";
}


<h3>@ViewData["Message"]</h3>

<a asp-action="Index">Back to Authors</a>
<form asp-controller="Authors" asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input class="form-control" asp-for="Name" type="text" />

        <input type="submit" class="btn btn-default" value="Create" style="margin-top: 25px;"/>
    </div>
</form>