@model Author
@{
    ViewData["Title"] = "Author";
    Layout = "_Layout";
}


<h2>@ViewData["Message"]</h2>

<a asp-action="Index">Back to Authors</a>
<form asp-controller="Authors" asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control"  type="text" />N

        <input type="submit" class="btn btn-default" value="Create" style="margin-top: 25px;"/>
    </div>
</form>