@model Publisher


@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>@ViewData["Message"]</h2>

<a asp-action="Index">Back to Publisher List</a>
<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" type="text"/>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-default form-control" />
    </div>
</form>
